build/
bin/
*/build/
*/bin/
*/*/build/
*/*/bin/
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
/.project
/C:/Users/Hugo/Documents/utils/.externalToolBuilders
/C:/Users/Hugo/Documents/utils/.settings
/.cproject
/zmq/conf7880.dir
.externalToolBuilders
.settings
/protobuf-2.5.0
/freeglut-2.8.1
/glut-3.7.6
/zmq/lib
/zmq/builds
/zmq2.2/builds
Release
